<% include ./common/header %>
<% include ./common/navbar %>
    <div class="container">
        <div class="starter-template">
            <h1>Gitの対応内容です <input type="button" class="btn btn-primary btn-lg" value="Add New" onClick="location.href='/gitNew'"></h1> 
        </div>
        <table id="foo-table" class="table table-bordered">
            <thead>
                <tr>
                    <th>title</th>
                    <th>body</th>
                    <th>del?</th>
                </tr>
            </thead>    
            <tbody>
                <% for (var i = 0; i < mdata.length; i++) { %>
                    <tr>
                        <td><a href="/gitEdit/<%= mdata[i].title %>">#<%= mdata[i].title %></a></td>
                        <td><%= mdata[i].body %></td>
                        <td>
                            <form method="post" action="/git/delete/<%= mdata[i].title %>?_method=DELETE">
                                <input type="submit" class="btn btn-danger" value="Del">
                                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% include ./common/footer %>
